.hotelHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--padding-extra-large) 0;
  .hotelHeaderLeft {
    .menu {
      margin-right: var(--margin-large);
      font-size: var(--font-extra-large);
      cursor: pointer;
    }
    .logo {
      font-size: var(--font-extra-large);
      cursor: pointer;
    }
    .brand {
      margin-right: var(--margin-extra-large);
      padding: var(--padding-small) var(--padding-extra-large) var(--padding-small)
        var(--padding-small);
      font-weight: bold;
      font-size: var(--font-large);
      border-right: var(--gray-7) 2px solid;
      cursor: pointer;
    }
    .menuItem {
      margin-right: var(--margin-extra-large);
      color: var(--gray-3);
      font-weight: var(--font-weight-semi-bold);
      cursor: pointer;
      &:hover {
        color: var(--gray-1);
      }
    }
  }
  .hotelHeaderRight {
    display: flex;
    align-items: center;
    .searchIcon {
      margin-right: var(--margin-small);
      font-size: var(--font-extra-large);
    }
    .searchInput {
      margin-right: var(--margin-medium);
      font-weight: var(--font-weight-semi-bold);
    }
    .global {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: var(--margin-medium);
      background-color: var(--gray-8);
      border: none;
      .globalIcon {
        width: 15px;
        height: 15px;
      }
    }
    .signIn {
      font-weight: var(--font-weight-semi-bold);
      font-size: var(--font-small);
    }
  }
}

@media screen and (max-width: 1280px) {
  .hotelHeader {
    .hotelHeaderLeft {
      .menuItem {
        display: none;
      }
      .brand {
        border: none;
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .hotelHeader {
    .hotelHeaderLeft {
      .brand {
        display: none;
      }
      .logo {
        display: none;
      }
    }
  }
}

/* Modal */
.loginModal .ant-modal-content {
  width: 350px;
  border-radius: 20px;
  .ant-modal-close {
    border: black;
  }
  .ant-modal-header {
    padding-bottom: 5px;
    border-radius: 20px;
    .SignIn_title > h2 {
      margin-bottom: 5px;
    }
  }
  .SignInContainer {
    width: 300px;
    height: 335px;
    border-radius: 20px;
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      align-items: center;
      height: 50px;
      border-radius: 7px 7px 0 0;
    }
    .ant-divider-inner-text {
      font-weight: bold;
      font-size: 10px;
    }
    .PlugginButton {
      display: flex;
      align-items: center;
      height: 50px;
      margin-bottom: 15px;
      border: 2px solid lightgray;
      border-radius: 7px;
      cursor: pointer;
      > h3 {
        margin: 0;
        margin-left: 20px;
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .loginModal .ant-modal {
    left: 100px;
  }
}
