.search_container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #fff;
    width: 70%;
    padding-top: 0px;
    border-radius: 10px;
    min-width: 700px;
}
.search_container .search_item {
    padding: 5px;
    padding-left: 25px;
    color: black;
    border: none;
}
.icon_search :hover{
 background-color: #fff;
 cursor: pointer;
}
.ant-select-selector {
    border: none;
}
.search_container .search_item  >h4 {
    font-weight: bold;
    margin-bottom: 5px;
}
.search_container .search_item .icon_search {
   margin: 5px;
   margin-top: 15px;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: none;
}
.ant-input-number-input ::selection {
    color: lightgray;
}
