.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;

  /* Sign in */
  .SignIn {
    padding-left: 80%;
  }

  /* Slide section */
  .herosection {
    position: relative;
    width: 100%;
    height: 500px;
    background: #364d79;
    border-radius: 20px;
    .carousel_content {
      position: absolute;
      top: 40%;
      left: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      line-height: 1;
      transform: translate(-50%, -50%);
      .carousel_title {
        width: 350px;
        margin-bottom: 25px;
        color: @white;
        font-weight: bold;
        font-size: 48px;
        text-align: center;
      }
      .carousel_description {
        margin-bottom: 25px;
        color: @white;
        font-size: var(--font-large);
        text-align: center;
      }
      .carousel_button {
        padding: 16px 28px;
        color: @white;
        font-weight: bold;
        font-size: var(--font-medium);
        text-align: center;
        background-color: var(--gray-1);
        border-radius: var(--border-radius-medium);
        cursor: pointer;
        transition: background-color 200ms linear;
      }
      .carousel_button:hover {
        background-color: var(--gray-3);
      }
    }
    .ant-carousel {
      height: 100%;
      border-radius: 20px;
      .slick-list {
        border-radius: 20px;
      }
      .slick-prev,
      .slick-next,
      .slick-prev:hover,
      .slick-next:hover {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        padding: 30px;
        // color: var(--gray-1);
        font-size: 20px;
        background-color: @white;
        border-radius: 50%;
      }

      .slick-prev,
      .slick-prev:hover {
        left: 60px;
        z-index: 2;
        color: @white;
      }

      .slick-next,
      .slick-next:hover {
        right: 60px;
        z-index: 2;
        color: @white;
      }
      .contentStyle {
        position: relative;
        align-items: center;
        height: 500px;
        color: #fff;
        background-image: url('../../asset/image2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 20px;
      }
      #image1 {
        background-image: url('../../asset/image2.jpg');
        border-radius: 20px;
      }
      #image2 {
        background-image: url('../../asset/image4.jpg');
        border-radius: 20px;
      }
      #image3 {
        background-image: url('../../asset/image1.jpg');
        border-radius: 20px;
      }
      #image4 {
        background-image: url('../../asset/image3.jpg');
        border-radius: 20px;
      }
    }
  }

  /* Recommend section */
  .recommend {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    .placeCard {
      height: 500px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 20px;
      cursor: pointer;
    }
    .place {
      height: 240px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 20px;
    }
    .title-content-1 {
      padding-top: 420px;
      padding-left: 5%;
      color: white;
    }
    .title-content-2 {
      padding-top: 160px;
      padding-left: 5%;
      color: white;
    }
    .title-name {
      font-size: var(--font-large);
    }
  }

  /* Explore section */
  .explore {
    width: 100%;
    margin-bottom: 110px;
    .title {
      margin-bottom: 25px;
    }
    .container_explore .item_container {
      display: flex;
      width: 250px;
      margin-bottom: 20px;
      cursor: pointer;
      .image_explore {
        position: relative;
        width: 70px;
        height: 70px;
        margin-right: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 5px;
      }
      #explore1 {
        background-image: url('../../asset/explore1.jpg');
      }
      #explore2 {
        background-image: url('../../asset/explore2.jpg');
      }
      #explore3 {
        background-image: url('../../asset/explore3.jpg');
      }
      #explore4 {
        background-image: url('../../asset/explore4.jpg');
      }
      #explore5 {
        background-image: url('../../asset/explore5.jpg');
      }
      #explore6 {
        background-image: url('../../asset/explore6.jpg');
      }
      #explore7 {
        background-image: url('../../asset/explore7.jpg');
      }
      #explore8 {
        background-image: url('../../asset/explore8.jpg');
      }
      .item_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .item_content_city {
          font-weight: bold;
          font-size: var(--font-medium);
        }
        .item_content_time {
          font-weight: 500;
        }
      }
    }
  }
  .host_section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    margin-bottom: 110px;
    background-color: var(--secondary-color);
    border-radius: 30px;
    .host_curved_bottom {
      position: absolute;
      bottom: -50px;
      left: 1px;
      width: 100%;
      height: 70px;
      background: #fff;
      border-top-left-radius: 80%;
      border-top-right-radius: 80%;
    }
    .host_curved_top {
      position: absolute;
      top: -50px;
      left: 1px;
      width: 100%;
      height: 70px;
      background: #fff;
      border-bottom-right-radius: 80%;
      border-bottom-left-radius: 80%;
    }
    .host_noInfo {
      position: absolute;
      width: 100px;
      height: 130px;
      background-size: cover;
      border-radius: 10px;
    }
    .host_info {
      // position: absolute;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      width: 200px;
      height: 260px;
      background-position: center;
      background-size: cover;
      border-radius: 15px;
      .host_info_content {
        width: 88%;
        margin-bottom: 6%;
        padding: var(--padding-small) var(--padding-medium);
        background-color: @white;
        border-radius: var(--border-radius-medium);
        .host_name {
          font-weight: bold;
          font-size: var(--font-large);
        }
        .host_age {
          color: var(--gray-3);
          font-weight: bold;
          font-size: var(--font-medium);
        }
      }
    }
    .host_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .host_title {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 36px;
      }
      .host_description {
        width: 45%;
        margin-bottom: 20px;
        font-size: 20px;
        text-align: center;
      }
      .host_button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px 30px;
        font-weight: bold;
        font-size: 16px;
        border-radius: 10px;
      }
    }
  }

  /* tab select */
  .tab_select {
    width: 100%;
    margin-top: 50px;
    color: black;
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: black;
      font-weight: bold;
    }
    .ant-tabs-tab:hover {
      color: black;
    }
    .ant-tabs-tab-btn {
      font-size: var(--font-medium);
    }
    .content_location {
      margin-bottom: 25px;
      cursor: pointer;
      .content_location_city {
        font-weight: bold;
        font-size: var(--font-medium);
      }
      .content_location_country {
        color: gray;
        font-weight: 600;
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .Container {
    .herosection {
      width: 90vw;
      height: 350px;
      .ant-carousel {
        .contentStyle {
          height: 350px;
          margin-left: auto;
        }
      }
    }
    .recommend {
      .placeCard {
        margin-top: 30px;
      }
    }
  }
}
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  margin: 20px 0 20px 0;
  background-color: hsl(240, 2%, 80%);
  border-radius: 0.5rem;

  &:hover {
    background-color: var(--gray-4);
  }
}
