.roomDetailPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  .viewHotel {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 415px;
    margin-bottom: var(--margin-large);
    padding: var(--padding-large);
    background-size: cover;
    border: var(--gray-7) solid 2px;
    border-radius: var(--border-radius-large);
  }
}
